<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationPikisubs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ActivityMain"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivitySubtitles"
            android:label="@string/title_activity_subtitles"
            android:parentActivityName=".ui.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActivityMain" />
        </activity>
        <activity
            android:name=".ui.ActivityEpisodes"
            android:label="@string/title_activity_episodes"
            android:parentActivityName=".ui.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ActivityMain" />
        </activity>
    </application>

</manifest>
